<%= form_for([@product, @product.reviews.build]) do |f| %>
  <p><%= f.text_area :text, placeholder: 'Review...' %></p>
  <p><%= f.number_field :rating, placeholder: 'Rating (1-5)' %></p>
  <p><%= f.submit class: 'btn btn-primary' %><p>
<% end %>